nav ul li a:link{ color:white; text-decoration:none; padding:5px; }
nav ul li a:hover{ text-decoration:underline; padding:5px; }
nav ul li a:active{  }
nav ul li a:visited{ color:white; }
*{ font-family: Verdana, Arial, Helvetica, sans-serif; }
nav ul{ background-color: blue;}
nav ul li{ padding:10px; }
footer{ background-color:blue; color: white; }