nav ul li a:link{ color:blue; text-decoration:none; padding:5px; }
nav ul li a:hover{ text-decoration:underline; padding:5px; }
nav ul li a:active{  }
nav ul li a:visited{ color:blue; }
*{ font-family: Verdana, Arial, Helvetica, sans-serif; }
nav ul{ background-color: transparent;}
nav ul li{ padding:10px; }
footer{ background-color:blue; color: white; }
/* table, td{ border:1px solid blue; }  */
.req{ color:rgb(255,0,0); font-size:0.6em; padding-right:5px; }
table{ 
color:#FFF; 
background-image:url(images/sunset.jpg); 
background-size: 100% 100%; 
border-radius:5px;
box-shadow: 10px 10px 5px #888888;}
input, textarea{ background:transparent; color:rgb(255,255,255);}
html{
background-color:#D2D99C;
height: 100%;
    background: -webkit-linear-gradient(white, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, blue); /* Standard syntax (must be last) */
	background-repeat: no-repeat;
}
.desc{
 background-color:#FFF; 

}